.depend
Make.dep
*.o
*.a
*.d
*.i
*~
.swp
.*.swp
core
.gdbinit
cscope.out
.config
.config.old
.version
/nuttx/Make.defs
/nuttx/setenv.sh
/nuttx/setenv.bat
nuttx.*
nuttx-*
/_SAVED_APPS_config
/nuttx/*.map
/nuttx/*.elf
/nuttx/*.srec
/nuttx/*.bin
/nuttx/*.ihx
/nuttx/*.hex
/nuttx/pcode
/tags
nuttx/arch/arm/include/board
nuttx/arch/arm/include/chip
nuttx/arch/arm/src/board
nuttx/arch/arm/src/chip
nuttx/include/apps
nuttx/include/arch
nuttx/include/nuttx/config.h
nuttx/include/nuttx/version.h
nuttx/libc/Make_bin.dep
nuttx/mm/Make_bin.dep
nuttx/nuttx
nuttx/tools/cnvwindeps
nuttx/tools/mkconfig
nuttx/tools/mkdeps
nuttx/tools/mkversion
.depend
Make.dep
*.o
*.a
*.d
*.i
*~
.swp
.*.swp
core
.gdbinit
cscope.out
/apps/Kconfig
/apps/bin
/apps/external
/apps/.context
/apps/.config
/apps/.depend
/apps/*.lib
/apps/romfs.img
/apps/boot_romfsimg.h
.built
apps/Kconfig
apps/builtin/builtin_list.h
apps/builtin/builtin_proto.h
apps/builtin/registry/.updated
apps/platform/board

